/* === RESET PAGE */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-family:'Segoe UI','Helvetica Neue',Arial,sans-serif;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}h1,h2,h3,h4,h5,h6{font-weight:100;padding:5px 0;}h1{font-size:3em;}h2{font-size:2.5em;}h3{font-size:2.1em;}h4{font-size:1.6em;}h5{font-size:1.2em;}h6{font-size:1em;}
em {font-style: normal;}

body {
	background: #f9f9f9;
}
/*h1 {
	font-size: 4em;
	text-transform: uppercase;
	background: white;
	border: 1px solid #eee;
	margin: 100px 0;
	text-align: center;
}*/

@-webkit-keyframes animateHeader {
	from {-webkit-transform: translate(0, -100px);}
	to {-webkit-transform: translate(0, 0);}
}

@keyframes animateHeader {
	from {transform: translate(0, -100px);}
	to {transform: translate(0, 0);}
}
.vgap20 {
	height: 20px;
	clear: both;
	display: block;
	width: 100%;
}

.header {
	/*height: 100px;*/
	background: rgba(255, 255, 255, .8);
	padding: 15px 0;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	
	/*-webkit-transform: translate(0, -100px);
					transform: translate(0, -100px);
	
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out; */
	
	&.fix-header {
		/*-webkit-transform: translate(0, 0);Safari
						transform: translate(0, 0);*/
		-webkit-animation: animateHeader 1s;
						animation: animateHeader 1s;
	} /* //.fix-header */
	
} /* //.header */

.companylogo {
	display: inline-block;
	position: relative;
	
	img {
		height: 60px;
	} /* //img */
	
	em {
	  display: block;
	  padding-left: 50px;
	} /* //em */
	
} /* //.companylogo */
.search-section {
	display: block;
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	margin-top: 10px;
	
	input {
		border: none;
		background: transparent;
		display: block;
		width: 100%;
		
		&:focus {
			outline: 0;
		} /* //. */
	} /* //. */
	
	&.search-focus {
		border: 1px solid #2196F3;
	}
	
	a {
		position: absolute;
		right: 1px;
		top: 1px;
		bottom: 1px;
		background: #eee;
		padding: 3px 7px;
		border-radius: 0 5px 5px 0;
		border-left: 1px solid #ddd;
		
		img {
			width: 28px;
			height: 28px;
		} /* //img */
		
	} /* //a */
	
	&:focus {
		border: 1px solid #08c;
	}
	
} /* //.search-section */
.tool-box {
	padding: 6px;
	float: right;
	
	ul.lst-tool-box {
		
		li {
			display: block;
			float: left;
			
			em {
				padding: 13px 5px 0;
				display: block;
				font-style: normal;
			} /* //em */
			
			a.user-profile {
				display: block;
				position: relative;
				
				img {
					border-radius: 100%;
					position: absolute;
					width: 40px;
					left: 0;
					top: 0;
				} /* //img */
				
				em {
					display: block;
					padding: 12px 0 0 45px;
					font-style: normal;
					font-size: 15px;
					color: #333;
				} /* //em */
				
				&:hover {
					text-decoration: none;
				} /* //a:hover */
				
			} /* //a.user-profile */
			
		} /* //li */
		
	} /* //ul.lst-tool-box */
	
} /* //.tool-box */

.content {
	padding-top: 100px;
	
	.block-card {
		background: white;
		border: 1px solid #e0e0e0;
		border-radius: 5px;
		margin-bottom: 20px;
		
		.block-header {
			overflow: hidden;
			padding: 10px;
			
			.blinker {
				margin-top: 7px;
				margin-right: 7px;
			}
		} /* //. */
		.block-container {
			
			img { //2196F3
				width: 128px;
				height: 128px;
				margin: 20px auto;
				display: block;
			} /* //. */
			
			.server-heading {
				text-align: center;
				
				display: none;
				visibility: hidden;
				opacity: 0;
				
				h1 {
					border-bottom: 1px solid #eee;
					margin: 5px 15px;
					padding: 10px 0;
				} /* //. */
				
				label {
					color: #999;
					font-size: 11px;
					text-transform: uppercase;
					font-weight: normal;
					padding: 10px 0 0;
				} /* //label */
				
				h2 {
					padding: 0 0 10px;
					
					em {
						font-size: 50%;
						font-style: normal;
						color: #777;
					} /* //. */
					
					&.response-low {
					  color: #d00;
					  em {color: #d00;}
					} /* //.response-low */
					
				} /* //h2 */
				
			} /* //.server-heading */
			
		} /* //. */
		.block-footer {
			text-align: center;
			padding: 10px 0;
		} /* //. */
		
	} /* //. */
	
} /* //. */

@-webkit-keyframes blinking {
	from {opacity: 0;}
	50% {opacity: 1;}
	to {opacity: 0;}
}

@keyframes blinking {
	from {opacity: 0;}
	50% {opacity: 1;}
	to {opacity: 1;}
}

.blinker {
	display: block;
	width: 12px;
	height: 12px;
	background: white;
	border-radius: 8px;
	
	-webkit-animation: blinking 2s infinite;
					animation: blinking 2s infinite;
	
	&.blink-green {
		background: green;
		box-shadow: 0 0 5px green;
	} /* //. */
	&.blink-red {
		background: #d00;
		box-shadow: 0 0 5px #d00;
	} /* //. */
	&.blink-yellow {
		background: gold;
		box-shadow: 0 0 5px gold;
	} /* //. */
	
	&.blink-shiftright {
		float: right;
	} /* //. */
	
}
.status-text {
  font-style: normal;
  
  &.status-active {
    color: green;
  } /* //.status-active */
  
  .status-label {
    color: #777;
    text-transform: uppercase;
    font-size: 11px;
  }
  
  &.status-inactive {
    color: #d00;
  } /* //.status-active */
  
} /* //.status-text */

/* -- Tab iOS : START */
.clswitchtabs { //need fix in IE for display inline
  text-align: center;
  padding: 10px 0;
  display: block;
  overflow: hidden;
  border-top: 1px solid rgba(33, 150, 243, .2);
  border-bottom: 1px solid rgba(33, 150, 243, .2);
  margin: 0 auto 20px;
  background: rgba(33, 150, 243, .05);
  
  .tab-caption {
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    display: block;
  } /* //.tab-caption */
  
  .lsttabs {
    
    li {
      display: inline-block;
      
      a {
        display: inline-block;
        padding: 7px 25px 8px;
        font-size: 14px;
        color: #777;
        border: 1px solid #2196F3;
        border-left: none;
        background: white;
        text-transform: uppercase;
        
        &:hover {
          text-decoration: none;
          background: rgba(33, 150, 243, .05);
        } /* //a:hover */
        
        &.atab1 {
          border-radius: 4px 0 0 4px;
          border-left: 1px solid #2196F3;
        } /* //.atab1 */
        
        
        &.atabn {
          border-radius: 0 4px 4px 0;
        } /* //.atabn */
        
        &.tabselected {
          cursor: default;
          background: #2196F3;
          color: white;
        } /* //a.tabselected */
        
        &:focus {
          text-decoration: none;
          outline: 0;
        } /* //a:focus */
        
      } /* //a */
      
    } /* //li */
    
    &.lsttabs-sm {
      
      a {
        padding: 2px 4px;
        font-size: 0.75em;
      } /* //a */
      
    } /* //.lsttabs.lsttabs-sm */
    
    &.lsttab-gap {
      padding: 5px 0 5px;
    } /* //.lsttab-gap */
    
  } /* //.lsttabs */
  
} /* //.clswitchtabs */
/* -- Tab iOS : END */
.big-container{
	background: white;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin:20px;
	padding: 0 20px;
}
.main-box {
	
}
.tab-content {
	display: none;
}
.page-heading-fancy {
	border-bottom: 1px solid rgba(72, 180, 0, 0.4);
	margin-bottom: 10px;
	font-size: 24px;
	padding: 10px 0;
	color: rgba(72, 180, 0, 1);
	
	img {
		float: left;
		margin-right: 5px;
		width: 28px;
		height: 28px;
	}
	
	em {
		
	}

	a {
		float: right;
		font-size: 15px;
		margin-top: 10px;
	}
} /* //.page-heading-fancy */
.btn-addnew-group {
	color: rgba(72, 180, 0, 0.9);
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	background: url('https://img.kwench.in/images/icon/kfit/general/kfit_plus_outline.png') no-repeat 10px center;
	background-size: 20px 20px;
	padding: 5px 15px 5px 35px;
	border: 1px solid rgba(72, 180, 0, 0.3);
	border-radius: 5px;

 	&:hover {
		color: rgba(72, 180, 0, 1);
		background-color: rgba(72, 180, 0, 0.05);
		text-decoration: none;
	}
	&:active, &:focus {
		color: rgba(72, 180, 0, 0.9);
		text-decoration: none;
		outline: 0;
	}
} /* //.btn-addnew-group */

.clviewmore {
  text-align: right;
  font-size: 12px;
  padding-right: 10px;
  text-transform: uppercase;
  background-position: 100% 60%;
  background-repeat: no-repeat;
  background-size: 5px 9px;
  color: #08c;
  
  &.more-error {
    color: #d00;
  } /* //.more-error */
  
} /* //.clviewmore */
.page-heading {
  border-bottom: 1px solid #eee;
  margin: 0 0 10px;
  padding: 10px 0;
  position: relative;
  
  .heading-count {
    font-size: 0.5em;
    color: green;
    font-weight: 400;
  } /* //.heading-count */
  
  .icon-search {
    float: right;
    font-size: 18px;
    color: #777;
    padding: 10px 0 0;
    cursor: pointer;
    border: 1px solid #eee;
    background: white;
    padding: 8px 100px 4px 10px;
    border-radius: 25px;
    
    img {
      opacity: 0.6;
      width: 28px;
      height: 28px;
      float: left;
      margin: -3px 4px 0 0;
    }
  } /* //.icon-search */
} /* //.page-heading */

.footer {
  
  p {
    padding: 20px 0;
    color: #999;
    font-size: 10px;
    text-align: center;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 20px;
  } /* //p */
  
} /* //.footer */



.active-server {
	color: #00d319;
	display: none;
} /* //.active-server */
.active-server-indicator {
	width: 22px;
	height: 22px;
	text-align: center;
} /* //.active-server-indicator */
.server-content {
	
	h5 {
		font-size: 22px;
		font-weight: 300;
		padding: 10px;
	}
	
} /* //.server-content */
table tr:hover {
	background: #f1f6f9;
}
table tr th {
	background: #f0f0f0;
}

.create-group {
  
  ul.lst-create-group {
    overflow: hidden;
    display: block;
    
    li {
      list-style: none;
      display: block;
      float: left;
      padding: 10px;
      
      a.group-item {
        background: rgba(33, 150, 243, 0.05);
        /*border: 1px solid rgba(0, 170, 25, 0.2);*/
        border: 1px solid rgba(33, 150, 243, 0.2);
        display: block;
        border-radius: 5px;
        position: relative;
        padding: 10px 0 8px;
        width: 260px;
        text-align: center;
        
        -webkit-transition: -webkit-transform 0.3s ease-in;
                transition: transform 0.3s ease-in;
        
        .group-icon {
          display: block;
          width: 60px;
          margin: 0 auto;
        } /* //.group-icon */
        
        .group-selector {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          padding: 8px 8px 0;
          
          .group-checkbox {
            padding: 0;
            border: 2px solid #999;
            border-radius: 100%;
            display: block;
            margin-top: 42px;
            width: 24px;
            height: 24px;
            
            img {
              width: 19px;
              height: 20px;
              display: none;
              border: none;
            } /* //img */
            
            &.group-checkbox-remove {
            	
            } /* //.group-checkbox-remove */
            
          } /* //.group-checkbox */
          
        } /* //.group-selector */
        
        .group-content {
          padding-left: 45px;
          text-align: left;
          
          h3 {
            color: #333;
          } /* //h3 */
          
          em {
            color: #777;
            
            b {
              font-weight: 500;
            } /* //b */
            
          } /* //em */
          
        } /* //.group-content */
        
        &.group-selected {
          
          .group-selector {
            
            .group-checkbox {
							border-color: rgba(33, 150, 243, 0.8);
							background: rgba(33, 150, 243, 0.8);

              img {
                display: block;
              } /* //img */
              
              &.group-checkbox-remove {
              	border-color: rgba(215, 0, 0, 0.8);
              	background: rgba(215, 0, 0, 0.8);
              } /* //.group-checkbox-remove */
              
            } /* //.group-checkbox */
            
          } /* //.group-selector */
          
          &:hover {
            background: rgba(33, 150, 243, 0.3);
          } /* //a:hover */
          
        } /* //a.group-selected */
        
        &:hover {
          text-decoration: none;
          background: rgba(33, 150, 243, 0.08);
          
          .group-selector {
            
            .group-checkbox {
              
              img {
                
              } /* //img */
              
            } /* //.group-checkbox */
            
          } /* //.group-selector */
          
        } /* //a:hover */
        
        &:active {
          -webkit-transform: scale(0.9);
                  transform: scale(0.9);
        } /* //a:active */
        
      } /* //a.group-item */
      
    } /* //li */
    
  } /* //ul.lst-create-group */
  
} /* //.create-group */